{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <title>{{_("Open Inventory")}}</title>
      <!-- CSS files -->
      <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>
      <style>
         @import url('https://rsms.me/inter/inter.css');
         :root {
         --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
         }
      </style>
   </head>
   <body >
      <script src="{% static 'js/demo-theme.min.js' %}"></script>
      <div class="page">
      <!-- Navbar -->
      <div class="sticky-top">
         <header class="navbar navbar-expand-md navbar-light sticky-top d-print-none">
            <div class="container-xl">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                  <a href=".">
                  <img src="{% static 'media/logo.svg' %}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                  </a>
               </h1>
               <div class="navbar-nav flex-row order-md-last">
                  <div class="d-none d-md-flex">
                     <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
                        data-bs-placement="bottom">
                        <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                           <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
                        </svg>
                     </a>
                     <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
                        data-bs-placement="bottom">
                        <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                           <circle cx="12" cy="12" r="4" />
                           <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
                        </svg>
                     </a>
                
                  </div>
                  <div class="nav-item dropdown">
                     <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                        <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                        <div class="d-none d-xl-block ps-2">
                           <div>Fabian Alvarez</div>
                           <div class="mt-1 small text-muted">UI Designer</div>
                        </div>
                     </a>
                     <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">Status</a>
                        <a href="#" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item">Feedback</a>
                        <div class="dropdown-divider"></div>
                        <a href="./settings.html" class="dropdown-item">Settings</a>
                        <a href="./sign-in.html" class="dropdown-item">Logout</a>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
               <div class="navbar navbar-light">
                  <div class="container-xl">
                     <ul class="navbar-nav">
                        {% url 'dashboard:index' as the_url %}
                        {% if request.path == the_url %}
                        <li class="nav-item active">
                           {% else %}
                        <li class="nav-item">
                           {% endif %}
                           <a class="nav-link" href="{% url 'dashboard:index' %}" >
                              <span class="nav-link-icon d-md-none d-lg-inline-block">
                                 <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <polyline points="5 12 3 12 12 3 21 12 19 12" />
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                 </svg>
                              </span>
                              <span class="nav-link-title">
                              {{_('Home')}}
                              </span>
                           </a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                              <span class="nav-link-icon d-md-none d-lg-inline-block">
                                 <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                 </svg>
                              </span>
                              <span class="nav-link-title">
                              {{_('Add')}}
                              </span>
                           </a>
                           <div class="dropdown-menu">
                              <div class="dropdown-menu-columns">
                                 <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="{% url 'dashboard:add' %}">
                                    {{_('Product')}}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'dashboard:category' %}">
                                    {{_('Category')}}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'dashboard:add_project' %}">
                                    {{_('Project')}}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'dashboard:add_storage' %}">
                                    {{_('Storage')}}
                                    </a>
                                    <a class="dropdown-item" href="./pricing.html">
                                    Pricing cards
                                    </a>
                                    <a class="dropdown-item" href="./pricing-table.html">
                                    Pricing table
                                    </a>
                                    <a class="dropdown-item" href="./faq.html">
                                    FAQ
                                    <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
                                    </a>
                                    <a class="dropdown-item" href="./users.html">
                                    Users
                                    </a>
                                    <a class="dropdown-item" href="./license.html">
                                    License
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                              <span class="nav-link-icon d-md-none d-lg-inline-block">
                                 <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="12" r="2"></circle>
                                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                                 </svg>
                              </span>
                              <span class="nav-link-title">
                              {{_('View')}}
                              </span>
                           </a>
                           <div class="dropdown-menu">
                              <div class="dropdown-menu-columns">
                                 <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="{% url 'dashboard:view_products' %}">
                                    {{_('Products')}}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'dashboard:view_categories' %}">
                                    {{_('Categories')}}
                                    </a>
                                    <a class="dropdown-item" href="./invoice.html">
                                    {{_('Project')}}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'dashboard:add_storage' %}">
                                    {{_('Storage')}}
                                    </a>
                                    <a class="dropdown-item" href="./pricing.html">
                                    Pricing cards
                                    </a>
                                    <a class="dropdown-item" href="./pricing-table.html">
                                    Pricing table
                                    </a>
                                    <a class="dropdown-item" href="./faq.html">
                                    FAQ
                                    <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
                                    </a>
                                    <a class="dropdown-item" href="./users.html">
                                    Users
                                    </a>
                                    <a class="dropdown-item" href="./license.html">
                                    License
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                              <span class="nav-link-icon d-md-none d-lg-inline-block">
                                 <!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="4" />
                                    <circle cx="12" cy="12" r="9" />
                                    <line x1="15" y1="15" x2="18.35" y2="18.35" />
                                    <line x1="9" y1="15" x2="5.65" y2="18.35" />
                                    <line x1="5.65" y1="5.65" x2="9" y2="9" />
                                    <line x1="18.35" y1="5.65" x2="15" y2="9" />
                                 </svg>
                              </span>
                              <span class="nav-link-title">
                              Help
                              </span>
                           </a>
                           <div class="dropdown-menu">
                              <a class="dropdown-item" href="./docs/">
                              Documentation
                              </a>
                              <a class="dropdown-item" href="./changelog.html">
                              Changelog
                              </a>
                              <a class="dropdown-item" href="https://github.com/SantaCRC/OpenInventory" target="_blank" rel="noopener">
                              Source code
                              </a>
                              <a class="dropdown-item text-pink" href="https://github.com/sponsors/SantaCRC" target="_blank" rel="noopener">
                                 <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                 </svg>
                                 {{_('Sponsor project!')}}
                              </a>
                           </div>
                        </li>
                     </ul>
                     <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                        <form action="./" method="get" autocomplete="off" novalidate>
                           <div class="input-icon">
                              <span class="input-icon-addon">
                                 <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="10" cy="10" r="7" />
                                    <line x1="21" y1="21" x2="15" y2="15" />
                                 </svg>
                              </span>
                              
                              <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website" id="search">
                              <div class="dropdown-menu" id="search-results" for="search">
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="page-wrapper">
         {% block pagecontent %}
         {% endblock %}
      </div>
      <script src="{% static 'js/demo.min.js' %}" defer></script>
      <script src="{% static 'js/tabler.min.js' %}" defer></script>
      <script
         src="{% static 'libs/nouislider/dist/nouislider.min.js' %}"
         defer
         ></script>
      <script
         src="{% static 'libs/litepicker/dist/litepicker.js' %}"
         defer
         ></script>
      <script
         src="{% static 'libs/tom-select/dist/js/tom-select.base.min.js' %}"
         defer
         ></script>
      <script src="{% static 'libs/list.js/dist/list.min.js' %}" defer></script>
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
      <script>
        var searchResults = [];
          $(document).ready(function() {
              $("#search").autocomplete({
                source: function(request, response) {
                    $.ajax({
                      url: "{% url 'dashboard:search' %}",
                      data: {
                          term: request.term
                      },
                      dataType: "json",
                      success: function(data) {
                          $("#search-results").empty();
                          var items = 0;
                          var resp = $.map(data, function(obj) {
                              items++;
                              if (items <= 5) {
                                 $("#search-results").addClass("show");
                                 if(obj.description.length > 10) obj.description = obj.description.substring(0,30) + "...";
                                 if(obj.image == null) obj.image = "default.png";
                                 if(obj.name.length > 30) obj.name = obj.name.substring(0,30) + "...";
                                 $("#search-results").append("<a class='dropdown-item d-flex align-items-center' href='{% url 'dashboard:get_product' %}/"+obj.id+"'><span class='avatar me-3' style='background-image: url(/media/"+obj.image+")'></span><div><strong>"+obj.name+"</strong><div class='text-muted'>"+obj.description+"</div></div></a>");
                              }
                          });
                      },

                    });
                },
                minLength: 3,
              }).keyup(function() {
                if ($(this).val() == "") {
                  $("#search-results").removeClass("show");
                }
              })
          });
      </script>
      <footer class="footer footer-transparent d-print-none">
         <div class="container-xl">
           <div class="row text-center align-items-center flex-row-reverse">
             <div class="col-lg-auto ms-lg-auto">
               <ul class="list-inline list-inline-dots mb-0">
                 <li class="list-inline-item"><a href="./docs/" class="link-secondary">Documentation</a></li>
                 <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                 <li class="list-inline-item"><a href="https://github.com/SantaCRC/OpenInventory" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                 <li class="list-inline-item">
                   <a href="https://github.com/sponsors/SantaCRC" target="_blank" class="link-secondary" rel="noopener">
                     <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                     Sponsor
                   </a>
                 </li>
               </ul>
             </div>
             <div class="col-12 col-lg-auto mt-3 mt-lg-0">
               <ul class="list-inline list-inline-dots mb-0">
                 <li class="list-inline-item">
                   Copyright © {% now 'Y' %}
                   <a href="." class="link-secondary">Open Inventory</a>.
                   All rights reserved.
                 </li>
                 <li class="list-inline-item">
                   <a href="./changelog.html" class="link-secondary" rel="noopener">
                     v0.0.1-preAlpha
                   </a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </footer>
   </body>
</html>