<!DOCTYPE html>
<html>
  <body>
    <style>
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>

    {% extends 'menu.html' %} 
    {% load static %} 
    {% block pagecontent %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% load crispy_forms_tags %}
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              {{_("New product")}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xl">
      <div class="page-body">
        <div class="card-body">
          {% if message == 'ok'%}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-title">{{_('Product added successfully')}}</h4>
            <div class="text-muted">{{_('All data saved')}}</div>
          </div>
          {% endif %}
          {% if message == 'error'%}
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-title">{{_('Error')}}</h4>
            <div class="text-muted">{{_('Something went wrong')}}</div>
            <div class="text-muted">{{ error_message }}</div>
          </div>
          {% endif %}
          <form class="card" method="post" action="{% url 'dashboard:add' %}"
          enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
              <h3 class="card-title">{{_("Add new product")}}</h3>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label required">{{_('Name')}}</label>
                <div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{_('Enter name')}}"
                    name="name"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">{{_("Description")}}</label>
                <textarea
                  class="form-control"
                  rows="6"
                  placeholder="{{_('Enter description')}}"
                  name="description"
                ></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label required">{{_('Stock')}}</label>
                <div class="input-group mb-2">
                  <input
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    name="stock"
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label required">{{_('Price')}}</label>
                <div class="input-group mb-2">
                  <span class="input-group-text"> $ </span>
                  <input
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    name="price"
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">{{_('Location')}}</label>
                <select
                  type="text"
                  class="form-select"
                  placeholder="{{_('Select a location')}}"
                  id="select-tags2"
                  value=""
                  name="location"
                >
                  {% for location in locations %}
                  <option value="{{location.id}}">{{location.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">{{_('Category')}}</label>
                <select
                  type="text"
                  class="form-select"
                  placeholder="{{_('Select a category')}}"
                  id="select-tags"
                  value=""
                  name="category"
                >
                  {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <div class="form-label">{{_("Image")}}</div>
                <input type="file" class="form-control" name="image" accept="image/*"/>
              </div>
            </div>
            <div class="card-footer text-end">
              <button type="submit" class="btn btn-primary">{{_('Submit')}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        var el;
        window.TomSelect &&
          new TomSelect((el = document.getElementById("select-tags")), {
            copyClassesToDropdown: false,
            dropdownClass: "dropdown-menu ts-dropdown",
            optionClass: "dropdown-item",
            controlInput: "<input>",
            render: {
              item: function (data, escape) {
                if (data.customProperties) {
                  return (
                    '<div><span class="dropdown-item-indicator">' +
                    data.customProperties +
                    "</span>" +
                    escape(data.text) +
                    "</div>"
                  );
                }
                return "<div>" + escape(data.text) + "</div>";
              },
              option: function (data, escape) {
                if (data.customProperties) {
                  return (
                    '<div><span class="dropdown-item-indicator">' +
                    data.customProperties +
                    "</span>" +
                    escape(data.text) +
                    "</div>"
                  );
                }
                return "<div>" + escape(data.text) + "</div>";
              },
            },
          });
      });
      // @formatter:on
    </script>
    <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        var el;
        window.TomSelect &&
          new TomSelect((el = document.getElementById("select-tags2")), {
            copyClassesToDropdown: false,
            dropdownClass: "dropdown-menu ts-dropdown",
            optionClass: "dropdown-item",
            controlInput: "<input>",
            render: {
              item: function (data, escape) {
                if (data.customProperties) {
                  return (
                    '<div><span class="dropdown-item-indicator">' +
                    data.customProperties +
                    "</span>" +
                    escape(data.text) +
                    "</div>"
                  );
                }
                return "<div>" + escape(data.text) + "</div>";
              },
              option: function (data, escape) {
                if (data.customProperties) {
                  return (
                    '<div><span class="dropdown-item-indicator">' +
                    data.customProperties +
                    "</span>" +
                    escape(data.text) +
                    "</div>"
                  );
                }
                return "<div>" + escape(data.text) + "</div>";
              },
            },
          });
      });
      // @formatter:on
    </script>
    {% endblock %}
  </body>
</html>
