<!DOCTYPE html>
<html>
<body>

{% extends 'menu.html' %}
{% load static %}
{% block pagecontent %}
<h1>{{_("Add inventory")}}</h1>
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<h2>{{_("Add inventory description")}}</h2>
{% load crispy_forms_tags %}  

<form method="post" action="{% url 'dashboard:add' %}" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form">
    <div class="title">{{_("Add new product")}}</div>
    <div class="input-container ic1">
        
      <input id="name" class="input" type="text" placeholder=" " name="name" />
      <div class="cut"></div>
      <label for="firstname" class="placeholder">Name</label>
    </div>
    <div class="input-container ic2">
      <input id="description" class="input" type="text" placeholder=" " name="description" />
      <div class="cut"></div>
      <label for="lastname" class="placeholder">Description</label>
    </div>
    <div class="input-container ic2">
      <input id="price" class="input" type="number" placeholder=" " name="price"/>
      <div class="cut cut-short"></div>
      <label for="email" class="placeholder">Price</>
    </div>
    <div class="input-container ic2">
      <input id="price" class="input" type="number" placeholder=" " name="stock"/>
      <div class="cut cut-short"></div>
      <label for="email" class="placeholder">Stock</>
    </div>
    <div class="input-container ic2">
      <label for="img">Select image:</label>
      <input type="file" id="image" name="image" accept="image/*">
    </div>
    <button type="submit" class="submit">submit</button>
  </div>
</form>
{% endblock %}
</body>
</html>
