<!DOCTYPE html>
<html>
   <body>
      <style>
         /* Chrome, Safari, Edge, Opera */
         input::-webkit-outer-spin-button,
         input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
         }
         /* Firefox */
         input[type="number"] {
         -moz-appearance: textfield;
         }
      </style>
      {% extends 'menu.html' %} 
      {% load static %} 
      {% block pagecontent %}
      {% load qr_code %}
      <link href="{% static 'css/style.css' %}" rel="stylesheet" />
      {% load crispy_forms_tags %}
      <div class="page-header d-print-none">
         <div class="container-xl">
            <div class="row g-2 align-items-center">
               <div class="col">
                  <h2 class="page-title">
                     {{ product.name}}
                  </h2>
               </div>
            </div>
         </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
         <div class="container-xl">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">{{_('Base info')}}</h3>
               </div>
               <div class="card-body">
                  <div class="datagrid">
                     <div class="datagrid-item">
                        <a data-fslightbox="gallery" href="/media/{{product.image}}">
                           <!-- Photo -->
                           <div class="avatar avatar-xl" style="background-image: url( /media/{{product.image}} )"></div>
                        </a>
                     </div>
                     <div class="datagrid-item">
                        <div class="datagrid-title">{{_('Description')}}</div>
                        <div class="datagrid-content">{{product.description}}</div>
                     </div>
                     <div class="datagrid-item">
                        <div class="datagrid-title">{{_('Stock')}}</div>
                        <div class="datagrid-content">{{product.stock}}</div>
                     </div>
                     <div class="datagrid-item">
                        <div class="datagrid-title">{{_('Price')}}</div>
                        <div class="datagrid-content">{{currency}} {{product.price}}</div>
                     </div>
                     <div class="datagrid-item">
                        <div class="datagrid-title">{{_('QR code')}}</div>
                        <div class="datagrid-content">
                           <div class="d-flex align-items-center">
                            <a data-fslightbox="gallery" href="{% qr_url_from_text "Hello World!" %}">
                              <img src="{% qr_url_from_text "Hello World!" size="T"%}" alt="Hello World!">
                            </a>
                           </div>
                        </div>
                     </div>
                     <div class="datagrid-item">
                        <div class="datagrid-title">{{_('Category')}}</div>
                        <div class="datagrid-content">
                           <div class="d-flex align-items-center">
                              {{ category }}
                           </div>
                        </div>
                     </div>
                     <div class="datagrid-item">
                        <div class="datagrid-title">{{_('Location')}}</div>
                        <div class="datagrid-content">{{ location }}</div>
                     </div>
                  </div>
               </div>
               <div class="card-footer text-end">
                  <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-stock">
                  {{_('Edit stock')}}
                  </a>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-update">
                  {{_('Update product')}}
                  </a>
                  <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete">
                     {{_('Delete product')}}
                     </a>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-blur fade" id="modal-delete" tabindex="-1" style="display: none;" aria-hidden="true">
         <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
           <div class="modal-content">
            <form method="post">
             <div class="modal-body">
            
                  {% csrf_token %}
               <div class="modal-title">{{_('Are you sure?')}}</div>
               <div>{{_('If you proceed, you will lose all product data<')}}/div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">{{_('Cancel')}}</button>
               <button class="btn btn-danger" data-bs-dismiss="modal" name="option" value="delete_product">{{_('Yes, delete product')}}</button>
             </div>
           </div>
           </form>
         </div>
       </div>

      <div class="modal modal-blur fade" id="modal-update" tabindex="-1" style="display: none;" aria-hidden="true">
         <form method="post">
            {% csrf_token %}
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">{{_('Edit product')}}</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <div class="mb-3">
                        <label class="form-label">{{_('Name')}}</label>
                        <input type="text" class="form-control" name="name" value="{{product.name}}">
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div>
                              <label class="form-label">{{_('Description')}}</label>
                              <textarea class="form-control" rows="3" name="description">{{product.description}}</textarea>
                           </div>
                        </div>
                        <div class="col-lg-8">
                        </div>
                     </div>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="mb-3">
                              <label class="form-label">{{_('Stock')}}</label>
                              <input type="number" class="form-control" value="{{product.stock}}" name="stock">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="mb-3">
                              <label class="form-label">{{_('Price')}}</label>
                              <input type="number" class="form-control" value="{{product.price}}" name="price">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <label class="form-label">{{_('Location')}}</label>
                           <select
                              type="text"
                              class="form-select"
                              placeholder="Select a date"
                              id="select-tags2"
                              value="{{location}}"
                              name="location"
                              >
                              <option value="{{product.location}}">{{location}}</option>
                              {% for category in locations %}
                              <option value="{{category.id}}">{{category.name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                        <div class="col-lg-6">
                          <label class="form-label">{{_('Category')}}</label>
                          <select
                             type="text"
                             class="form-select"
                             placeholder="Select a date"
                             id="select-tags"
                             value="{{category}}"
                             name="category"
                             >
                             <option value="{{product.category}}">{{category}}</option>
                             {% for category in categories %}
                             <option value="{{category.id}}">{{category.name}}</option>
                             {% endfor %}
                          </select>
                       </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                     Cancel
                     </a>
                     <button class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                     {{_('Update product')}}
                     </button>
         </form>
         </div>
         </div>
         </div>
      </div>
      <form method="post">
      {% csrf_token %}
      <div class="modal modal-blur fade" id="modal-stock" tabindex="-1" style="display: none;" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">{{_('Edit stock')}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div class="mb-3">
                     <label class="form-label">{{_('Stock')}}</label>
                     <input type="number" class="form-control" name="stock" value="0">
                  </div>
               </div>
               <div class="modal-footer align-items-center">
                  <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                  <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                  {{_('Cancel')}}
                  </a>
               </div>
                  <button class="btn btn-danger ms-auto" data-bs-dismiss="modal" name="option" value="delete">
                     <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                     </svg>
                     {{_('Delete stock')}}
                  </button>
                  <button class="btn btn-primary ms-auto" data-bs-dismiss="modal" name="option" value="add">
                     <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                     </svg>
                     {{_('Add stock')}}
                  </button>
               </form>
               </div>
            </div>
         </div>
      </div>
      <script>
         // @formatter:off
         document.addEventListener("DOMContentLoaded", function () {
           var el;
           window.TomSelect &&
             new TomSelect((el = document.getElementById("select-tags")), {
               copyClassesToDropdown: false,
               dropdownClass: "dropdown-menu ts-dropdown",
               optionClass: "dropdown-item",
               controlInput: "<input>",
               render: {
                 item: function (data, escape) {
                   if (data.customProperties) {
                     return (
                       '<div><span class="dropdown-item-indicator">' +
                       data.customProperties +
                       "</span>" +
                       escape(data.text) +
                       "</div>"
                     );
                   }
                   return "<div>" + escape(data.text) + "</div>";
                 },
                 option: function (data, escape) {
                   if (data.customProperties) {
                     return (
                       '<div><span class="dropdown-item-indicator">' +
                       data.customProperties +
                       "</span>" +
                       escape(data.text) +
                       "</div>"
                     );
                   }
                   return "<div>" + escape(data.text) + "</div>";
                 },
               },
             });
         });
         // @formatter:on
      </script>
      <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
          var el;
          window.TomSelect &&
            new TomSelect((el = document.getElementById("select-tags2")), {
              copyClassesToDropdown: false,
              dropdownClass: "dropdown-menu ts-dropdown",
              optionClass: "dropdown-item",
              controlInput: "<input>",
              render: {
                item: function (data, escape) {
                  if (data.customProperties) {
                    return (
                      '<div><span class="dropdown-item-indicator">' +
                      data.customProperties +
                      "</span>" +
                      escape(data.text) +
                      "</div>"
                    );
                  }
                  return "<div>" + escape(data.text) + "</div>";
                },
                option: function (data, escape) {
                  if (data.customProperties) {
                    return (
                      '<div><span class="dropdown-item-indicator">' +
                      data.customProperties +
                      "</span>" +
                      escape(data.text) +
                      "</div>"
                    );
                  }
                  return "<div>" + escape(data.text) + "</div>";
                },
              },
            });
        });
        // @formatter:on
     </script>
      <script src="{% static 'libs/fslightbox/index.js' %}" defer=""></script>
      {% endblock %}
   </body>
</html>